:root {
    --base50-dark: rgba(30, 30, 30, 1);
    --base100-dark: rgba(41, 41, 41, 1);
    --base800-dark: rgba(207, 207, 207, 1);
    --base900-light: rgba(18, 18, 18, 1);
    --primarygold-300: rgba(253, 214, 73, 1);
    --primarygold-200: rgba(254, 227, 139, 1);
    --primarygold-100: rgba(254, 239, 195, 1);
    --text-3xl-font-bold-font-family: "SpaceGrotesk-Bold", Helvetica;
    --text-3xl-font-bold-font-weight: 700;
    --text-3xl-font-bold-font-size: 30px;
    --text-3xl-font-bold-letter-spacing: 0px;
    --text-3xl-font-bold-line-height: 45px;
    --text-3xl-font-bold-font-style: normal;
    --text-base-font-medium-font-family: "SpaceGrotesk-Medium", Helvetica;
    --text-base-font-medium-font-weight: 500;
    --text-base-font-medium-font-size: 16px;
    --text-base-font-medium-letter-spacing: 0px;
    --text-base-font-medium-line-height: 24px;
    --text-base-font-medium-font-style: normal;
  }
  